.laboratoria {align:center;}
.i {font-family: 'Inconsolata',"Arial" ; font-size:25px;}
.vo {margin:15px 0px 0px 0px;}
.p {border:solid 1px;margin:5px 0px 5px 0px;}
.d{width:10%;margin:15px 0px 15px 450px;color:grey;}
.a {margin:0px 0px 0px 200px;text-align: center;}
.e {width:10%;margin:5px 0pc 0px 20px;}
.v {margin:15px 10px 10px 15px;}
.na{position:relative;bottom: 40px;right:60px; color:white;text-align:right;}
.co {width:900px;height:1300px;border-color:#D8DAD3;
	 border:solid 2px;margin:30px 10px 50px 10px;}
.circulo{margin:20px 0px 0px 350px;width:150px;height: 150px; border-radius:50%}
h1{margin:10px 0px 10px 260px;font-size:45px;}
.y {margin:40px 150px 0px 150px;text-align: center;}
h2 {margin:30px 0px 15px 30px;font-size:30px;}
.html {width:600px;}
 .t { background-color: grey; margin:15px 0px 20px 45px;height: 50px;}
span {color:white; margin:0px 0px 0px 60px;}
.css {width:400px;} 
.js {width: 300px;}
.fot {width:200px;height: 200px;margin:15px 0px 35px 35px;}

